# Hands-on Practice exercises

1. Create a tuple with single value '5'

2. Write a program that takes two dictionaries and concatenates them into one dictionary

Use the below dictionaries:

dictionary_1 = {'A':1, 'B':2}

dictionary_2 = {'C':3}

	
3. Check whether the set X and Y are disjoint or not

Use the sets below (or create your own sets):

Set X
X = {4, 5, 11, 34, 4, 56, 44, 67, 67, 5, 12, 34, 16, 9, 22, 23, 56, 34, 33, 89, 78, 45, 33, 78, 34, 45, 12, 45, 56 }

Set Y
Y = {41, 52, 63, 56, 67, 45, 99, 56, 45, 23, 45, 63, 45, 56, 45, 55, 56, 56, 12, 86, 67, 55, 56, 34, 89}

4. Retrieve the third element in the given list

Use the list given below:

num_list = [5, 3, 6, 1, 85, 23, 5, 13]

	
5. Count the occurance of number -6 in the given tuple

Use the tuple given below:

num_tuple = (-4, 7, -8, -9, 8, -6, 7, 3, -6, 1, -8, -6)

6. Check whether the number 53 is in the given list or not

Use the list given below:

num_list = [5, 3, 6, 1, 85, 23, 5, 13]

	
7. Remove number 3 from a given set

Use the set below:

numbers = {2, 3, 4, 5}

8. Write a program to convert a list into tuple

Use the list below:

num_list = [24, 18, 24, 47, 52]

9. Write a program to retrieve the capital of 'Germany' from a given dictionary

Use the dictionary given below:

europe = { 'Spain': { 'Capital':'Madrid', 'Population':4.77 }, 'France': { 'Capital':'Paris', 'Population':6.7 },
'Germany': { 'Capital':'Berlin', 'Population':8.28 }, 
'Norway': { 'Capital':'Oslo', 'Population':0.533 }

	
10. Find maximum and the minimum value from a given set

Use the elements:

5, 10, 3, 15, 2, 20, 10, 5, 4, 3